body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

#display {
    width: 94%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
    margin-bottom: 20px;
    background-color: #0e0b0b;
    color: white;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #038e85;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: rgb(6, 214, 241);
}

h1{
    /* margin-bottom: 15px; */
    font-size: 2em;
    color: #333;
}
.container{
    text-align: center;
}
